.line{
                    width: 10px;
                    height: 70vh;
                    background: lightseagreen;
}
.box{
                    margin-left: 20px;
                    height: 100px;
                    width: 400px;
}
.one{
                    background: orange;
}
.two{
                    background: white;
                    text-align: center;
}
.three{
                    background: green;
}
img{
                    height: 100%;
                    width: auto;
}
